.footer-social-links img {
    width: 35px;
    height: 35px;
}

.copyright {
    text-align: center;
    margin-top: 30px;
}

.footer {
    background-color: #d1e2ef;
    color: white;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
    text-align: left;
}

.footer-logo {
    width: 100px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 1000px) {
    .logo-pic {
        display: block;
        margin: 0 auto;
    }

    .nav.flex-column {
        text-align: center;
    }

    .footer-social-links {
        justify-content: center;
    }

    .copyright {
        text-align: center;
    }
}
