header {
    /*position: absolute;*/
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(26, 109, 175, 0.5);
    font-family: "Nunito", sans-serif;
    color: #444242;
}

a {
    color: inherit;
}

.nav {
    margin-left: 50%;
}

.nav-link {
    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #444242;
}

.logo-pic {
    width: 88px;
    height: auto;
}

.buttons {
    display: flex;
}

.btn-register {
    position: relative;
    width: 122px;
    height: 50px;

    margin-top: 10px;
    margin-right: 10px;
    background: #1A6DAF;
    border-radius: 8px;
    border-style: none;
    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.btn-login {
    position: relative;
    width: 90px;
    height: 50px;

    margin-top: 10px;
    background: #25ABBE;
    border-radius: 8px;
    border-style: none;
    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

@media (min-width: 1200px) {
    .nav {
        margin-left: 28%;
    }
}

@media (max-width: 1199px) {
    .nav {
        margin-left: 15%;
    }
}

@media (max-width: 1000px) {
    .nav {
        margin-left: 5%;
    }
}

@media (max-width: 768px) {
    .nav {
        margin-left: 0;
        text-align: center;
    }

    .nav-link {
        display: block;
        padding: 10px;
    }
}

