body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

body {
    font-family: 'Nunito', sans-serif;
}

.header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.main-content {
    margin: 20px;
}

.nav-link {
    margin-left: 5px;
    color: #444242;
}

.nav-link[href="#register"] {
    background-color: #1A6DAF;
}

.nav-link[href="#login"] {
    background-color: #25ABBE;
}

.nunito-font {
    font-family: 'Nunito', sans-serif;
    color: #1A6DAF;
    font-weight: 800;
    text-align: left;
}

.text_box {
    color: #444242;
    font-weight: normal;
    text-align: left;
}

.price-tag {
    font-weight: bold;
    color: #1A6DAF;
    margin-bottom: 15px;
}

.btn {
    background-color: #1A6DAF;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}

.blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
}

.blog-title {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #1A6DAF;
    font-weight: 800;
    text-align: left;
}

.blog-button {
    padding: 10px 20px;
    background-color: #1A6DAF;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}


.card-img-top {
    padding: 8px;
}

.card-link {
    text-decoration: none;
    display: block;
    margin-left: 0;
    color: #1A6DAF;
}

.footer {
    background-color: #d1e2ef;
    color: white;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
    text-align: left;
}

.footer-logo {
    width: 100px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .blog-header {
        flex-direction: column;
    }

    .blog-button {
        margin-top: 10px;

    }
}

