.profile-header-container {
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 34px;
}

.profile-header-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-header-info {
    padding: 16px;
}

.profile-stats {
    padding: 16px;
}

.profile-stats strong {
    display: block;
    font-size: 18px;
}

.profile-stats span {
    color: gray;
}

.post-container {
    max-width: 500px;
    margin: 20px auto;
    background: #fff;
}

.post-image {
    width: 100%;
    display: block;
}

.post-content {
    padding: 15px;
}

.post-text {
    margin-bottom: 10px;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.post-actions i {
    color: #333;
    margin-right: 5px;
}

.post-like,
.post-comment,
.post-share {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.answer-item {
    background-color: lightblue;
    padding: 5px;
    margin-bottom: 5px;
    list-style-type: none;
    padding-left: 0;
    border-radius: 10px;
}

.question-container {
    background-color: #ffffe0;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.custom-textarea {
    width: 100%;
    height: 25px;
}

.rating-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
}

.star {
    color: gold;
    font-size: 27px;
}

.rating {
    margin-left: -67px;
    margin-top: 4px;
}

@media (max-width: 768px) {
    .star {
        font-size: 10px;
    }
}