.children-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#childrenListContainer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.children-list {
    width: 100%;
}

#childrenListContainer {
    width: 100%;
    border-collapse: collapse;
}

#childrenListContainer td, #childrenListContainer th {
    border: 1px solid #ddd;
    padding: 8px;
}

#childrenListContainer tr:nth-child(even){background-color: #f2f2f2;}

#childrenListContainer tr:hover {background-color: #ddd;}

#childrenListContainer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: grey;
    color: white;
}
